/*
   This is the .css styling sheet for the
   website of John Ryles, which is found at
   http://www.cs.uky.edu/~jwryle2/home.html
*/

/* Background Color For Site */
html
{
	background-color: Black;
}

/* Set header as Silver with White text */
header
{
	border-style: outset;
	border-color: White;
	background-color: Silver;
	border-width: 5px;
	margin: 10px;
}

/* Set h1 headers as all CAPS & Black text */
h1
{
	text-align: center;
	text-transform: uppercase;
	color: Black;
}

/* Set margins on contents (body) of site */
div.contents
{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Set styling/format for left navigation menu links */
div.links
{
	float: left;
	width: 200px;
	height: 400px;
	border-style: outset;
	border-color: White;
	border-width: 5px;
	background-color: Silver;
	padding: 10px;
}

/* Set information styling/format */
div.information
{
	height: 400px;
	border-style: outset;
	border-color: White;
	border-width: 5px;
	background-color: Silver;
	margin-left: 250px;
	font-size: 16pt;
	padding: 10px;
	overflow: scroll;
}

/* Align images to the left */
img.align-left
{
	display: inline;
	padding: 20px;
}

/* Assign medium image size */
img.medium
{
	height: 200px;
	width: 200px;	
}

/* Left navigation menu label formatting */
label.sideMenu
{
	font-size: 18pt;
	color: Black;
	padding: 10px;
}

/* Main menu label formatting */
label.mainMenu
{
	font-size: 16pt;
	color: Black;
	padding-left: 20px;
}

/* Set navigation links formatting */
a.links
{
	padding: 10px;
	font-size: 18pt;
}

/* Set iTunes app badge formatting */
a.app
{
	padding-top: 10px;
	padding-bottom: 10px;
}

/* In text links formatting */
a.contentLinks
{
	font-size: 16pt;
}

/* Home page links to Linkedin, Facebook, Email, ... formatting */
a.infoLinks
{
	font-size: 16pt;
	padding-left: 20px;
}

/* Set all links to White */
a:link
{
	color: White;
	text-decoration: none;
}

/* Set all visited links to stay White */
a.infoLinks:visited
{
	color: White;
}

/* Set all links hovered color to Greenish Color */
a:hover
{
	color: rgb(27,184,193);
	text-decoration: underline;
}

/* Set all active links to Blue */
a:active
{
	color: Blue;
}
